# Configurações do Banco de Dados PostgreSQL
POSTGRES_DB=geracao_livre_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_PORT=5432

# Configurações do Back-End
BACKEND_PORT=8080
JWT_SECRET=GeracaoLivreSecretKeySeguraParaTokenJWT2026TecidosArtesanatoSuperSegura!

# Configurações do Front-End
FRONTEND_PORT=3000
